.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    background-color: rgba(150, 150, 150, 0.9);
    padding: 50px; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 900px; 
    width: 80%; 
    height: 90%;
}

.score-container h1 {
    font-size: 4em; 
    margin-bottom: 20px;
}

.score-container h2 {
    font-size: 3em; 
    margin-bottom: 20px;
}

.score-container button {
    padding: 20px 40px; 
    font-size: 1.5em; 
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: beige;
    transition: background-color 0.3s ease;
}

.score-container button:hover {
    background-color: #ddd;
}
